src/main/mule/implementation/post-customer-registration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration_customer_sapi" doc:name="HTTP Request configuration" doc:id="0735d719-0932-4ce0-8221-99e3cefe494c" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="post-customerState-registrationFlow" doc:id="bad3e9d6-f6da-43d9-b6c2-0e8c97e42422" >
		<logger level="INFO" doc:name="Request Log" doc:id="f6fd7298-c6ba-46eb-aabe-e9e4005d5ab3" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer State",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Experience API",&#10;	DesinationApplication: "System API", &#10;	CustomerId: "NA",&#10;	txnState: "SAPI Request"&#10;}]' />
		<http:request method="POST" doc:name="Request Customer SAPI" doc:id="66a6ee72-053e-4aa7-8283-7a50640ccb44" config-ref="HTTP_Request_configuration_customer_sapi" path="/api/customerState">
			<http:headers ><![CDATA[#[{
	"x-cms-transactionId": attributes.Headers.'x-cms-transactionId',
	"clientId": attributes.Headers.clientId,
	"clientSecret": attributes.Headers.clientSecret
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Response Log" doc:id="c5107bc4-869a-41c2-aa11-f9fc090eb5fc" message='#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.headers."x-cms-transactionId", &#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: "Customer State",&#10;	Category: "Customer", &#10;	OriginatingApplication: "Experience API",&#10;	DesinationApplication: "System API", &#10;	CustomerId: "NA",&#10;	txnState: "SAPI Response"&#10;}]' />
		<ee:transform doc:name="Transform Message" doc:id="5bdc2325-8169-4b2b-b41d-2b5cfd9bf934" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  customerStateResponse: {
    eventInstanceId: attributes.Headers.'x-cms-transactionId',
    status: "success"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
	</flow>
</mule>
